SYSTEM = double perovskite
NPAR   = 4
NCORE  = 4
ISMEAR = 0
SIGMA  = 0.05
LREAL  = .FASLE.
ENCUT  = 600
PREC   = Accurate
#ISIF   = 3
#IBRION = 2
#NSW    = 100
ALGO   = Fast
EDIFFG = -0.006
EDIFF  = 1E-05
NELM   = 60
NELMIN = 8
LWAVE  = .TRUE.  #写WAVECAR
LCHARG = .TRUE.
