SYSTEM = double perovskite
ISTART=1
NPAR   = 4
NCORE  = 4
ISMEAR = 0
SIGMA  = 0.05
LREAL  = .FALSE.
ENCUT  = 600
PREC   = Accurate
#ISIF   = 3
IBRION = -1
#NSW    = 100
EDIFFG = -0.006
EDIFF  = 1E-05
NELM   = 60
NELMIN = 8
LWAVE  = .FALSE.
#LCHARG = .FALSE.
PRECFOCK  = F
## Selects the B3LYP hybrid function
LHFCALC = .TRUE.
GGA = B3
AEXX = 0.2
AGGAX = 0.72
AGGAC = 0.81
ALDAC = 0.19
ALGO = D
TIME = 0.4
